.container {
  width: 100%;
}

.main {
  /*background-color: green; use for debug*/
  font-family: 'Poppins' sans-serif;
  overflow-x: hidden;
}

.footer {
  padding: 0 3rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

/*.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}*/

@media screen and (max-width: 912px) and (min-width: 769px) {
  .main {
    overflow-x: hidden;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
