.solCont {
  background-color: #ffffff;
}

.sliderContainer {
  /* max-width: 90%; */
  height: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  /* margin-left: 10%; */
}

.tabsContainer {
  /* max-width: 90%; */
  height: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
}

@media (max-width: 511px) {
  .sliderContainer {
    /* max-width: 95%; */
    gap: 10px;
  }
}
.slider {
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  scroll-behavior: smooth;
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
  display: flex;
  /* gap: 20px; */
  align-items: center;
  height: auto;
  padding-bottom: 1.5rem;
  padding-top: 0.4rem;
}

.slider::-webkit-scrollbar {
  display: none;
}

.activeTab {
  background-color: rgba(34, 150, 152, 0.1);
  color: #005555;
}

.card {
  transition: all 0.3s ease-in-out;
}
.cardDiv {
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.overlay {
  /* position: absolute; */
  bottom: 0;
  background-color: #ffffff;
  width: 100%;
  padding-left: 20px;
  height: 130px;
}

.readMore {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 120px;
  height: 33px;
  border: 1.5px solid #028789;
  border-radius: 3.14286px;
}

.activeCard {
  height: 212.1px;
  margin-right: 23px;
  box-shadow: 4px 4px 10px #888888;
  filter: blur(0px);
}

@media (max-width: 976px) {
  .activeCard {
    height: 212.1px;
  }
}

.activeCardDiv {
  margin-left: 7%;
}
